body {
    font-family: var(--font-primary);
    overflow-x: hidden;
    background-color: white;
    color: var(--font-dark);
    line-height: 1.7;
    width: 100%;
    max-width: 100%;
    padding: 0;
    font-size: var(--text-base);
}

div.header-bar {
    display: flex;
    justify-content: space-between;
}

div.header-bar img {
    padding: 38px;
    padding-top: 38px;
}

div.header-bar button {
    border: none;
    background-color: white;
}

div.header-bar button i {
    background-color: white;
    width: 160vw;
}

div.header-bar div.section-1 {
    display: block;
    text-align: left;
    position: relative;
    transform: translate(0px, 0%);
    box-sizing: border-box;
}

div.section-2 h1 {
    line-height: 1.1;
    font-size: 6rem;
    letter-spacing: -0.02em;
}

div.section-3 {
    padding: 0px 100px;
    display: block;
    text-align: left;
    position: relative;
    transform: translate(0px, 0%);
    font-weight: 400;
}

div.element .bottom-left-links {
    padding-left: 40px;
}

div.element .bottom-left-links a i {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

div.bottom {
    display: flex;

}

div.scroll-down {
    border: none;
}



/* div[class^="box"] {

}

div[class*="box"] {
 
}

a [target="_blank"]::after {
    content: '(' attr(href) ')' ;
} */


.checkbox:checked + .box {

}

div ~ ul {

}